


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drink.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.size %></td>
        <td><%= link_to 'Show', f %></td>
        <td><%= link_to 'Edit', edit_drink_path(f) %></td>
        <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New drink', new_drink_path %>