<h1>List of drinks:</h1>
<table>
  <thead>
    <tr>
      <th><u> Drink name</u></th>
      <th><u>Size<small>(in Litres)</small></u></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drink.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.size %></td>
        <td><%= link_to 'Show', f %></td>
        <td><%= link_to 'Edit', edit_drink_path(f) %></td>
        <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Do You really want to delete this entry?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New drink', new_drink_path %>